@import "../../../assets/styles/variables";
:host {
  flex: 1;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.card {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-weight: 500;
  color: $dark;
  width: 110px;
  border-bottom: 3px solid $primary;
}

.value {
  margin: 0;
  font-weight: 500;
  color: $dark;
  font-size: 2.5rem;
}

i {
  align-self: flex-end;
  font-size: 80px;
  margin-bottom: -5px;
  margin-right: -5px;
  color: #eeeeee;
}

@media screen and (max-width: 991px) {
  :host {
    flex: 1;
    margin-right: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
