<div class="admin-container">
  <div class="page-render">
    <div class="navbar">
      <div class="top-bar">
        <img alt="logo" src="assets/images/logo.svg"/>
        <div class="search-container">
          <i class="fas fa-search"></i>
          <input class="input-search"
                 placeholder="O que você precisa?"
                 [value]="(search$ | async)?.search"
                 (keyup)="search($event)"/>
          <button mat-icon-button
                  *ngIf="(search$ | async)?.search" (click)="clearSearch()">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="account-menu" [matMenuTriggerFor]="profileMenu">
          <div class="battery-status">
            <i class="fas fa-battery-full"></i>
          </div>
          <div>
            <p class="user-name">Olá, Bruno</p>
            <p class="company-name">Wed.biz</p>
          </div>
          <i class="fas fa-user-circle user-icon"></i>
        </div>
      </div>
      <div class="menu">
        <a class="menu-item"
           *ngFor="let menu of menus"
           [routerLink]="menu?.path"
           [routerLinkActive]="'active'">
          <i [class]="menu?.icon"></i>
          {{menu?.title}}
        </a>
      </div>
    </div>
    <div class="routing">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<mat-menu #profileMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Meu Perfil</span>
  </button>
  <button mat-menu-item>
    <mat-icon>key</mat-icon>
    <span>Senha</span>
  </button>
  <button mat-menu-item>
    <mat-icon>directions_run</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>
