<div class="page">
  <div class="rg-nav">
    <p>Campanhas</p>
    <button mat-button [routerLink]="['/marketing']">
      <i class="fas fa-chevron-left"></i> Voltar
    </button>
  </div>
  <div class="cards-container">
    <app-card-metric title="Aguardando Envio"
                     [value]="metrics?.waiting">
    </app-card-metric>
    <app-card-metric title="Enviados"
                     [value]="metrics?.sent">
    </app-card-metric>
    <app-card-metric title="Não Enviados"
                     [value]="metrics?.not_sent">
    </app-card-metric>
  </div>
  <div class="card">
    <textarea class="message-text-area"
              rows="3"
              [value]="dataSource?.Mensagem"
              readonly>
    </textarea>
    <div class="rg-table">
      <div class="rg-header">
        <div class="grow-1">Contato</div>
        <div class="grow-1">Data Envio</div>
        <div class="grow-1">Enviado</div>
        <div class="grow-1">Variáveis</div>
      </div>
      <div class="rg-row" *ngFor="let item of dataSource?.Importacao">
        <div class="grow-1">{{item?.Contato}}</div>
        <div class="grow-1">{{item?.DataEnvio | date: 'dd/MM/yyyy HH:mm'}}</div>
        <div class="grow-1">{{item?.Status | getMarketingContactStatusTitle}}</div>
        <div class="grow-1">{{item?.Variaveis?.join(', ')}}</div>
      </div>
    </div>
  </div>
</div>
