@import '../../../../../assets/styles/variables';

.message-text-area {
  background-color: #eeeeee;
  border-radius: 6px;
  padding: 10px 20px;
  max-width: 900px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  border: none;
  box-shadow: $defaultBoxShadow;
}

.cards-container {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .cards-container {
    flex-direction: column;
  }

  .message-text-area {
    width: 100%;
    max-width: 100%;
  }
}
