@import "~@angular/material/theming";
@import "./variables";

@include mat-core();

$primaryPalette: (
  50: #f9f9f9,
  900: $primary,
  contrast: (
    50: $dark,
    900: #fff
  )
);
$my-app-primary: mat-palette($primaryPalette, 900);
$my-app-accent: mat-palette($primaryPalette, 50);
$my-app-warn: mat-palette($mat-red, 900);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

